<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h2>RoboPropAdvisor</h2>
        
        <form action="/predict_rent" method="post">
            <input type = "submit" value = "Predict Rental Price">

        </form>
        <form action="/check_scam" method="post">
            <input type = "submit" value = "Check for Scam">

        </form>

        </form>
        <form action="/search_mktplace" method="post">
            <input type = "submit" value = "Search for Property">
        </form>
      
    </div>
</body>
</html>
