<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoboPropAdvisor</title>
</head>
<body>
   
        <h2>Rental Prediction</h2>
        
    <form action="/predict_rent_result" method="post">
    <!-- Dropdown (select element) -->
    <div class="container">
        <p>
            <div class="dropdown-section">
                <select id="propertyType" class="dropdown">
                    <option value="" disabled selected>Select Property Type</option>
                    <option value="hdb">HDB</option>
                    <option value="condo">Condominium</option>
                    <option value="landed">Landed Property</option>
                </select>
    
                <select id="location" class="dropdown">
                    <option value="" disabled selected>Select Location</option>
                    <option value="bedok">Bedok</option>
                    <option value="tampines">Tampines</option>
                    <option value="jurong">Jurong</option>
                </select>
    
                <select id="rooms" class="dropdown">
                    <option value="" disabled selected>Select Number of Rooms</option>
                    <option value="1R">1-room</option>
                    <option value="2R">2-rooms</option>
                    <option value="3R">3-rooms</option>
                    <option value="4R">4-rooms</option>
                </select>
            </div>
            
            <button id="searchBtn">Enter</button>
        </div></form>p>

        <script src="script.js"></script>
       
       
  
        


        

           
            </div>
        </div>
   
        <button id="searchBtn">Enter</button>

       
    </form>